<launch>
  
  <node name="mesh_reconstructor_node" pkg="pointcloud_utils"
        type="mesh_reconstructor_node"  respawn="false" clear_params="true"
        output="screen">

      <param name="input_topic" type="string" value="/velodyne_points" />
      <param name="output_topic" type="string" value="mesh" />
  </node>
  
</launch>
